div {
    border: 2px solid black;
    margin: 50px;
}
.blue{
  background-color: blue;
  height: 400px;
}
.yellow{
  position: relative;
  width: 1145px;
  background-color: yellow;
  height: 300px;
}
.green{
  position: relative;
  width: 1045px;
  background-color: green;
  height: 200px;
}
.pink{
  position: relative;
  width: 945px;
  background-color: pink;
  height: 100px;
}