header{
  height: 50px;
  background-color: yellow;
}
main{
  float: left;
  height: 500px;
  width: 80%;
  background-color: pink;
}
.sidebar{
  float:left;
  height: 500px;
  width:20%;
  background-color: grey;
}
footer{
  height:50px;
  background-color: green;
  clear: both;
}