header{
  background-color: darkturquoise;
  height: 40px;
  width: 100%;
  margin: 0;
  position: fixed;
  z-index: 1;
}
.nav-list{
  height: 40px;
  display: flex;
  list-style: none;
  margin: 0;
  color: white;
  line-height: 38px;
}
.nav-list li{
  margin-left:16px;
}
main{
  height: 5000px;
  background-color: beige;
}
.head{
  position: absolute;
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}
.ear_right, .ear_left{
  position: relative;
  height: 60px;
  width: 40px;
  background-color: brown;
}
.ear_left{
  bottom:120px;
  right: 40px;
}
.ear_right{
  bottom:60px;
  left:200px;
}
.eye_left,.eye_right{
  position: relative;
  background-color: grey;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.eye_left{
  left:130px;
  bottom: 70px;
}
.eye_right{
  left:40px;
  bottom: 40px;
}